body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
}

nav a {
    text-decoration: none;
    color: #111;
    margin-left: 25px;
    font-weight: 500;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: #f5f5f5;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}


.product-card {
    text-align: left;
    transition: 0.3s;
    
}

.product-card:hover {
    opacity: 0.8;
}

.product-card img {
    width: 300px;
    height: auto;
    background: #f6f6f6;
    border-radius: 4px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

button {
    background: #111;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-buy {
    width: 100px;
    background: white;
    color: #111;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-image: linear-gradient(90deg,rgba(255, 208, 0, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    transition: all 0.3s;
}

.btn-buy:hover {
    border-color: #111;
    box-shadow: 5px 0px 10px #33FF00;
}

footer {
    padding: 40px;
    background: #111;
    color: white;
    text-align: center;
}
