body{
  font-family: sans-serif;
  margin: 0;
  background-color:lightgreen;
    font-size:20px;
}

body {
    margin: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    color: #3b2f2f;
   font-size: 20px;
}

.menu-list {
    list-style: none; /* (Вже тут, щоб прибрати крапки) */
    padding: 0;
    margin: 0;
    display: flex;
}
main, footer{
      padding:30px;
}

p{
    color:#4F0000;
}

header {
    padding: 18px 24px;
    background: #6b4f4f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.menu a {
    color: lightgreen;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.06);
    margin-left: 8px;
    font-size:32px;
}
.menu a:hover{
    color:green;
}

footer{
    background-color:#6b4f4f;
}

footer p{
    color:lightgreen;
}
