body{
    margin: 0;
    font-family: Segoe UI,Roboto,Arial,sans-serif;
    background: #34eb7a;
    color: #565c56;
    font-size: 15px;
}
.logo{
    border-radius: 100%;
}
main{
    padding:20px;
}
ul{
  list-style: none; 
   padding: 0px;
}
header{
    padding: 10px 10px;
    background: #4489c2;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display:flex;
    flex-direction:row;
    
}

nav a{
    color: white;
    text-decoration: none;
    padding: 6px 9px;
    border-radius: 3px;
    background: rgba(200, 234, 243, 0.03);
    margin-left:6px;
}

nav a:hover{
    background-color:#3A278C;
}

footer p {
    text-align:center;
}
